# Configuration de la base de données
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=nadalawi
DB_NAME=gestion_produits

# Configuration JWT
JWT_SECRET=14f50fbbbcdcd183a82415d827c536cdd17c2a549de409b85e813c9e035711d6
JWT_EXPIRES_IN=90d

# Configuration du serveur
PORT=5000
NODE_ENV=development

# Configuration CORS
FRONTEND_URL=http://localhost:3000 